h1 {
    font-family: "Josefin Sans", sans-serif;
    color: #b34433;
    font-weight: 300;
    font-size: 28pt;
}

h2 {
    font-family: "Josefin Sans", sans-serif;;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

th {
    font-family: "Josefin Sans", sans-serif;;
    color: #b34433;
    font-weight: bold;
    font-size: 25px;
}

p {
    font-family: "Noto Serif";
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
}

img {
    max-width: 200pt;
}

li {
    font-family: "Noto Serif";
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
}

table {
    padding: 3%;
}

div {
    margin: auto;
}

.div30{
    width: 30%;
}

.divInBlock {
    display: inline-block;
}

.div60 {
    width: 60%;
}

.div90{
    width: 90%;
}

.divCenterParent {
    text-align: center;
}

.floatingbuttons { 
    top:2.5%;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.res_img {
    max-width: auto;
}

button {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 800;
    cursor: pointer;
    padding: 10pt 15pt;
    border: 0px solid;
    border-radius: 25px;
    color: white;
    background-color: #b34433;
    transition-duration: 0.5s;
    outline: none;
    margin: 10pt;
}

button:hover {
    background-color: #c06bac;
    color: aliceblue;
}

.body_page {
    background-color: white;
    overflow-x: hidden;
    width: 100%;
    margin: 2,5%;
    padding: 2,5%;
    text-align: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}