h1 {
    font-family: "Josefin Sans", sans-serif;
    color: royalblue;
    font-weight: 300;
    font-size: 50px;
}

h2 {
    font-family: "Noto Serif";
    color: midnightblue;
    font-weight: bold;
    font-size: 25px;
}

p {
    font-family: "Noto Serif";
    color: royalblue;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.p_id {
    color: white;
}

.pos {
    position: fixed;
    overflow: auto;
}

.img {
    width: 100%;
    height: auto;
    border: 2pt;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
}

.id_div {
    padding: 20pt;
    border: 1px solid;
    border-radius: 15px;
    border-color: royalblue;
    background-color: royalblue;
    float: left;
    width: 300pt;
}

.list_div {
    height: 400pt;
    overflow: scroll;
    overflow-y: auto;
    /* Internet Explorer 10+ */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}

.list_div::-webkit-scrollbar {
    display: none;
}

.card {
    width: 300pt;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-radius: 25px;
    border-color: LightSkyBlue;
    background-color: LightSkyBlue;
    padding: 16pt;
    margin-bottom: 16pt;
}

a.button {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 800;
    color: midnightblue;
    cursor: pointer;
    padding: 10pt 15pt;
    border: 1px solid;
    border-radius: 25px;
    border-color: cornflowerblue;
    background-color: cornflowerblue;
    transition-duration: 0.5s;
    outline: none;
    text-decoration: none;
    line-height: 40pt;
}

.button:hover {
    background-color: midnightblue;
    color: aliceblue;
}

body {
    height: 100%;
    background-color: aliceblue;
    padding: 20pt;
}